body{
background-image:url("../../assets/background.jpg");
}

table.center{
margin-left:auto;
margin-right:auto;
}
#topright {
position : relative;
}
#topright button{
    position: absolute;
    top: 0px;
    right: 300px;
}

tr{
width:500px;
}

td{
width:100px;
height:20px;
text-align:center;
}

.title{
font-weight: bold;
}

.cardLocation{
width: 100px;
background-color:#F0F0F0;
}